$primaryRed: #D90E32;
$primaryDarkRed: #A60933;
$primaryBlack: #282828;
$primaryLightGrey: #F3F6F8;
$textBlack: #293148;
$textDarkGrey: rgba(41, 49, 72, 0.8);
$textGrey: rgba(41, 49, 72, 0.6);
$textLightGrey: rgba(41, 49, 72, 0.45);
$textLineGray: rgba(228, 228, 228, 1);
$white100: rgba(255, 255, 255, 1);
$white45: rgba(255, 255, 255, 0.45);
$white20: rgba(255, 255, 255, 0.2);
$secondaryDarkRed: #59051C;
$secondaryLightRed: #E86E84;
$secondaryBlue: #7895FF;
$secondaryGreen: #7FC75E;
$secondaryGrey: #EDEDED;
$lightGreen: #E4F5DD;
